.cell {
  float:left;
  display:block-inline;
  width:256px;
  height:350px;
  margin-right:20px;
}

.image {
  /*width:256px;*/
  height:256px;
  display:block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
